.head{
    height: 70px;
    border-bottom: 1px solid $theme_border_color;
    .container{
        height: 100%;
        .row{
            height: 100%;
        }
    }
    .search-lg{
        max-width: 40%;
        display: flex;
        align-items: center;
        padding-left: 30px;
        .menu-bar-icon{
            .md.hydrated{
                margin-top: 5px;
                font-size: 32px;
            }
        }
        .search{
            margin-left: 15px;
        }
    }
    .head-menu{
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 30px;
        .menu-item{
            margin-left: 15px;
            &:first-child{
                margin-left: 0px;
            }
        }
    }
}