.header{
    align-items: stretch;
    display: flex;
    height: 100px;
    background-color: var(--header-bg);
    .header-brand{
        position: fixed;
        top: 0;
        left: 0;
        height: 100px;
        padding: 0 25px;
        width: 250px;
        border-bottom: 1px dashed var(--border-primary);
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--navbrand-bg);
        border-right: 1px solid var(--navbrand-border);
        a{
            .logo{
                max-width: 100%;
                height: auto;
                height: 25px;
            }
        }
        .dark-button{
            width: 30px;
            height: 30px;
            background-color: var(--darkicon-bg);
            border-radius: 50%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .moon_dark{
                max-width: 100%;
                height: auto;
                width: 18px;
                filter: invert(74%) sepia(25%) saturate(322%) hue-rotate(176deg) brightness(86%) contrast(95%);
            }
        }
    }
    .toolbar {
        display: flex;
        align-items: center;
        width: 100%;
        // border-bottom: 1px solid $theme_border_color;
        .container-fluid{
            padding: 0px 30px;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            .page-title{
                flex-direction: column;
                display: flex;
                h1{
                    font-size: 18px;
                    font-weight: 600;
                    flex-direction: column;
                    display: flex;
                }
                .breadcrumb{
                    font-weight:500;
                    font-size: 13px;
                    padding-top: 5px;
                    margin-bottom: 0px;
                    .breadcrumb-item{
                        a{
                            color: $breadcum_color;
                        }
                        &.breadcrumb-active{
                            color: $breadcum_active_color;
                        }
                        &+.breadcrumb-item{
                            &::before {
                                float: left;
                                padding-right: 0.5rem;
                                color: #76839a;
                                content: "-";
                            }
                        }
                    }
                    
                }
                
            }
        }
    }
}