.navbar-vertical{
    &.navbar-expand-md{
        display: block;
        position: fixed;
        top: 100px;
        bottom: 0;
        width: 100%;
        max-width: 250px;
        overflow-y: auto;
        border-right: 1px solid var(--sidebar-border);
        margin: 0px;
        padding: 0px;
        z-index: 999;
    }
    &.navbar-light{
        background-color: var(--sidebar-bg);
    }
    .container-fluid{
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        height: 70px;
        padding: 15px;
        img{
            max-height: 30px;
        }
        h1{
            font-size: 28px;
            margin-left: 10px;
            font-weight: 600;
            color: #6259ca;
        }
    }
}
.sidebar{
    &.navbar-expand-md{
        left: 0px;
    }
}
// .sidebaractive {
//     transform: translate(-100%) !important;
// }

// @media only screen and (max-width: 767px) {
//     .sidebar{
//         transform: translate(-100%);
//         transition: all 0.3s linear 0s;;
//     }
//     .sidebaractive {
//         transform: translate(0%) !important;
//     }    
// }
// .dark-theme{
//     .sidebar{
//         transform: translate(0%);
//         transition: none;
//     }
// }

@media only screen and (max-width: 767px) {
    .navbar-vertical{
        &.navbar-expand-md{
            display: block;
            position: fixed;
            top: 100px;
            left: 0;
            bottom: 0;
            width: 100%;
            border-right: 1px solid var(--sidebar-border);
            margin: 0px;
            padding: 0px;
            transform: translate(-100%);
            transition: transform .3s ease-in-out;
        }
    }
    .sidebar{
        &.navbar-expand-md{
            transform :translate(0%);
            transition: transform .3s ease-in-out;
        }
    }
    // .dark-theme {
    //     .sidebar{
    //         &.navbar-expand-md{
    //             transform: translate(0%);
    //             transition: none;
    //         }
    //     }
    // }
}