
//for light theme color variables
$theme_light_bg_color: #f9fbfd;
$theme_bd_color:#12263f;
$aside_bg_color: #fff;
$theme_border_color: #e3ebf6;
$theme_font_family:'Poppins', sans-serif;
$theme_header_bg: #f9fbfd;
$breadcum_color: #76839a;
$breadcum_active_color: #6259ca;
$header-brand_bg: #ffffff;

//for dark theme color variables
$theme_dark_bg_color : #000;
