@import './variables';
@import'./navbar';
@import './sidebar';
@import'./theme';
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}
body{
    background-color: $theme_background_color;
    font-family: $theme_font_family;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
ul,ol{
    margin: 0px;
    list-style: none;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    &:focus,&:hover{
        text-decoration: none;
    }
}
p{
    padding: 0px;
    margin: 0px;
}